@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  * {
    padding: 0;
    margin: 0;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  :root {
    --special-white: #FDFDFD;
    --neon-violet: #FF2A6D;
    --neon-cyan: #05D9E8;
    --neon-blue: #35A0EE;
    --dark-blue: #01012b;
    --font-size: 1rem;
  }


  html {
    scroll-behavior: smooth;
    font-family: "Nunito", monospace;
    font-optical-sizing: auto;
    color: var(--special-white);
  }

  body {
    min-height: 100vh;
  }

  img {
    display: block;
    width: 100%;
  }

  .my__name {
    background-image: 
      linear-gradient(90deg, var(--neon-cyan) 5%, var(--neon-blue), var(--neon-violet));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .button-link {
    box-shadow: rgba(96, 147, 251, .20) 0 3px 5px -1px,rgba(96, 147, 251, .15) 0 6px 10px 0,rgba(96, 147, 251, .25) 0 1px 18px 0;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    -webkit-transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    -moz-transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    -ms-transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    -o-transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
    will-change: transform,opacity;
    user-select: none;
}

  .button-link:hover {
    color: var(--special-white);
    background-color: var(--neon-blue);
    transform: scale(6);
    -webkit-transform: scale(6);
    -moz-transform: scale(6);
    -ms-transform: scale(6);
    -o-transform: scale(6);

}

  .button-link:active {
    box-shadow: 0 4px 4px 0 rgb(96 147 251 / 30%), 0 8px 12px 6px rgb(96 147 251 / 15%);
    outline: none;
  }
}